/* body{
    font-family: 'Balsamiq Sans', 'cursive';
    font-family: 'Montserrat', sans-serif;

    background: url(img/alberto-triano-rL7BHmjUV50-unsplash.jpg) ;
    
    
} */

header::before {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    background: url(IMG/alberto-triano-rL7BHmjUV50-unsplash.jpg);
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 140%;
    z-index: -1;
    opacity: 0.8;
}

.main_h1 {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 232, 57);
    border: 2px solid rgb(248, 232, 57);

    position: fixed;
    text-align: center;
    width: 100vw;
}


.head_container {
    /* 
    border: 2px solid black; */

}

.box {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    margin-top: 100px;
    border: 3px solid rgb(124, 3, 124);
    background-color: none;
    display: inline-block;
    width: 31%;
    box-sizing: border-box;
}




.para {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    text-decoration: underline;
    font-weight: bolder;

}

.form {
    border: 2px solid black;
    width: 37%;
    margin-top: 100px;
    margin-left: 30%;
    text-align: center;
    align-items: center;

    margin-bottom: 100px;
}

.form_h1 {
    background-color: aqua;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.form input {
    border: 2px solid black;
    text-align: center;
    align-items: center;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;


}

.btn {

    font-size: 20px;
    background: none;
    color: rgb(0, 0, 0);
    padding: 6px 134px;
    /* border: 2px solid gray; */
    border-radius: 10px;

}

.btn:hover {

    font-size: 18px;
    background-color: black;
    color: gray;
}

.hr_ {

    border: 2px solid black;
}

.footer {
    position: absolute;
    left: 0%;
    right: 0%;
    background-color: orange;
    /* border: 2px solid black; */
    align-items: center;
}

.social {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 35%;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.footer .a {
    align-items: center;
    border: 1px solid black;
}

.footer .insta {
    margin-left: 10px;
    height: 50px;
}

.footer .twitter {
    margin-left: 200px;
    height: 50px;
}

.footer .reddit {
    margin-left: 200px;
    height: 50px;
    margin-right: 10px;
}