body{

    background: url(img/contact_banner.jpg);
}
h1 {
     background-color: aqua;
     border: 2px solid aqua;
     text-align: center;
     width: 100vw;
}

.head_container{

    border: 2px solid black;
}

.box{
    border: 3px solid violet;
    background-color: aqua;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
}
.para{

    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    
}